<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    oi

    <form action ="/loja/pesquisar/"    method="POST">
        {% csrf_token %}
        <label for="pesquisa">Pesquisar</label>
        <input type="text"  name="pesquisa" id="pesquisa">
        <input type="submit" value="Enviar">

    </form>

    <style>
        table, td, th {  
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
        
    </style>
   
    <table>
        <tr>
            <th>Nome</th>
            <th>Preco</th>
            
        </tr>
       
        {% for i in produto %}
        <tr>

            <td>{{i.nome}}</td>
            <td>{{i.preco}}</td>
        </tr>
         {% endfor %}
        
        
    </table>


</body>
</html>